  <div class="contents row" >
       <div class="content_post" style="background-image: url(http://lionsign.net/wp/wp-content/uploads/2014/12/22.jpg);">
        <p>
          hey
        </p>
        <span class="name">yuyaonrails</span>
      </div>
  </div>